<% include partials\navigation.ejs /%>

<h1>Login</h1>

<form action="">
    <ul>
        <li><input type="text"></li>
        <li><input type="password" name="password" id=""></li>
        <button>Login</button>
    </ul>
</form>